(
    tests: {
        "apg4b-a": (
            name: "APG4b: A - 1.00.はじめに",
            matching: ExactWhole,
        ),
        "practice-a": (
            name: "practice contest: A - Welcome to AtCoder",
            matching: ExactWords,
        ),
        "atc001-b": (
            name: "ATC001: B - Union Find",
            matching: ExactWords,
        ),
        "atc002-b": (
            name: "ATC002: B - n^p mod m",
            matching: ExactWords,
        ),
        "arc065-c": (
            name: "ABC049 / ARC065: C - 白昼夢 / Daydream",
            matching: ExactWords,
        ),
        "abc120-d": (
            name: "ABC120: D - Decayed Bridges ",
            matching: ExactWords,
        ),
    }
)
